<section class="header-services container">
    <div class="header-services__item">
        <img src=" {{ image1 }} " class="header-services__img" width="54" height="54">
        <p class="header-services__text"> {{ text1 }} </p>
    </div>
    <div class="header-services__item">
        <img src=" {{ image2 }} " class="header-services__img" width="54" height="54">
        <p class="header-services__text"> {{ text2 }} </p>
    </div>
    <div class="header-services__item">
        <img src=" {{ image3 }} " class="header-services__img" width="54" height="54">
        <p class="header-services__text"> {{ text3 }} </p>
    </div>
</section>