<!-- Tabs Right List -->

{% if tabs %}
    <section class="tabs-right">
        <div class="tabs-right__cloud">
            <div class="tabs-right__cloud-wrapper">
                {% for tab in tabs %} 
                    {# {{ dump(tab) }} #}
                    <input type="radio" class="tabs-right__input" name="tabs" data-tag="tab-{{ loop.index }}" id="tab-btn-{{ loop.index }}" name="tabs"  {{ loop.first ? 'checked' }}>
                    <label for="tab-btn-{{ loop.index }}" class="tabs-right__label"> {{ tab.header }} </label>
                {% endfor %} 
            </div>
        </div>
        <div class="tabs-right__container">
            {% for tab in tabs %} 
                <div class="tabs-right__content {{ loop.first ? 'tabs-right__content--active' }}" data-tag="tab-{{ loop.index }}">
                    {{ tab.content|wpautop|shortcodes }}
                </div>
            {% endfor %} 
        </div>
    </section>
{% endif %}